:root{
	/* TODO Refactor: Darle nombre a #EEE, ¿lightergrey? */
	--almost-white: #fafafa;
}

html{
	background: var(--color-principal);margin: 0;
	height: 100%;}
	body{
		background: white;margin: auto;
		display: grid;grid-template: "a" max-content "b" 1fr;
		font-family: sans-serif;}
		
		#header{
			padding:.75rem;
			background: var(--encabezado);color:var(--texto-encabezado);
			border-bottom: solid var(--acento) 3px;
			display: flex;
		}
			#header-anvorgesa{
				margin: auto 0;
				font-family: monospace;font-size: 1.5rem;
				user-select: none;cursor: pointer;
			}
			#header > h1 {
				margin: auto;
				font-size: 24px;}
				 #anvorgesa{
					width: 0;
					overflow-x: hidden; overflow-y: auto;
					position: absolute;top:0;height: 100%;
					transition: background .3s,width 0s linear .3s;
					display: grid;grid-template:"a" "b" 1fr;
					z-index:1;
				}
					.anvorgesa-abierta{
						background: rgba(0,0,0,.3);
						width: 100% !important;
						transition: background .3s !important;
					}
					#anvorgesa > *{
						position: relative;left: -100%;transition:left .3s;
					}
						.anvorgesa-abierta > *{
							left: 0 !important;
						}
						#anvorgesa-header{
							background: var(--encabezado);color:var(--texto-encabezado);
							border-bottom: solid var(--acento) 3px;
							padding: 1rem;box-sizing: border-box;
							font-size: 14px;
							display: grid;grid-template:
								"a ." 4.5rem
								". ." 1rem
								"b b"
								". ." 5px
								"c c"
								/4.5rem;}
							#anvorgesa-header > img{
								grid-area:a;height: 100%;
							}
							#anvorgesa-header-nombre{
								grid-area:b;
							}
							#anvorgesa-header-usuario{
								grid-area:c;
							}
						#anvorgesa-ingredientes{
							background: white;
							padding-top: 10px;
						}
							.action{
								cursor:pointer;
								width: 100%;
								padding: 0;
								border: 0;
								text-align: left;
								display: grid;grid-template: "a b" /calc(2rem + 25px) 1fr;gap: 1rem;
								background: white;
							}
								.action:hover{
									background:#f0f0f0;
								}
								.action > i{
									font-size: 25px;
									margin: 1rem;
									text-align: center;
								}
								.action > span{
									margin: auto 0;}
					
		/* #realPanel{
		} */

			#realPanel button,body > div:last-child button{
				margin: .5rem;border-radius: .5rem;padding: .5rem;cursor: pointer;
				border:solid 1px;
				border-color: #dbdbdb;
			}
				#realPanel /* button */:disabled{
					cursor: not-allowed;
				}
			input{
				padding: 5px 0;
				border: none;
				border-bottom: solid 1px #9E9E9E;
				transition: border-width 0.2s linear;
				background: var(--almost-white);
			}
				input:focus{
					border-bottom: solid 4px #369683 !important;
				}

			#bar {
				display: grid;grid-template-columns: repeat(4,1fr) 30px;
				border-bottom: solid gray 2px;border-top: solid gray 2px;}
				#bar > button{
					padding: 10px;border: 0;
					width: 100%;}
					#bar > button:not(#salir){
						border-right: solid gray 2px;}
					#salir{
						background-color: #FAA;
					}
						#salir > i{
							background-image: url(/img/logout.png);background-size: auto 100%;background-position: center;background-repeat: no-repeat;
							height: 1em;
						}
			.notSelectedPanel{
				display: none !important;}
				#ven{
					display: grid;}
					#ven-list{
						overflow: hidden;
						display: grid;grid-template-rows: min-content 1fr;
						padding-right: 10px;}
						#ven-list-filter{
							margin: 10px auto;display: block;}
					#ven-list-buttons{
						overflow-y: auto;}
						#ven-list-buttons > button {
							display: block;
							margin: 10px auto;
							width: 90%;padding: 5px;
							overflow: hidden;}
							.hidden{
									display: none !important;}
					#ven > label{
						margin-top: 20px;}
					.dates{
						display: grid;gap:5px;grid-template:
							"a b e f"
							"c d e f"
							/.7fr 1fr .5fr .5fr;
						margin: auto;}
						.dates > label{
							display: flex;}
							.dates span{
								margin: auto;}
						.dates > input{
							margin: 3px;}
						.dates > button{
							margin: auto;padding: 5px;}
						#ven-buscar{
							grid-area: e;}
						#ven-exportar{
							grid-area: f;}
					.noHayNada{
						display: block;margin: 20px auto;width: max-content;}
					.ped{
						display: grid;grid-template: "a b" "c c" /10% 90%;
						margin: 5px auto;
					  background: #EEE;
  					border-radius: .5rem;}
						.ped-toggle{
							margin: auto;
							cursor: pointer;
							font-size: larger;
							transition: transform 0.3s;
						}
							.ped-toggle[data-value="1"]{
								transform: rotate(180deg);
							}
						.ped-name{
							margin:10px auto;}
						.ped-arts{
							grid-area: c;
							display: none;grid-template-columns: max-content auto max-content max-content;
							border-top: solid 1px;border-right: solid 1px;
							overflow-x: auto;
							border-radius: 0.5rem;margin: .5rem;
						}
							.ped-arts > div {
								padding: 10px;
								border-left: solid 1px;border-bottom: solid 1px;}
								.ped-arts-header{
									font-weight: bold;}
								.ped-cantidad{
									text-align: center;}
								.ped-plata {
									text-align: right;
									font-weight: bold;}
									.ped-plata::before {
										content: '$ ';}
								.blank{
									border: none !important;}
				#rec {
					display: grid;
					padding: 20px;
					gap: 15px;
					width: 100%;box-sizing: border-box;}
					#rec > div{
						display: grid;
						grid-template: "a b c" "d e c" /1fr 1fr 5fr;
						border: solid .5rem #EEE;border-radius: .5rem;
						padding: 0 !important;background: black !important;gap: 1px;
					}
						#rec div{
							background: #EEE;
							padding: 5px;}
							#rec div:last-child{
								grid-area: c;
								justify-content: center;display: flex;align-items: center;}
					#rec-more{
						margin: auto;
						padding: 5px;}
				#cue{
					padding: 0 1.5rem;
				}
					#cue > *{
						margin-top: 10px;
						width: max-content;display: block;}
						#cue > p{
							margin-bottom: .5rem;
						}
						#cue > div{
							text-align: right;
							width: 100%;
						}
						
						#cue button{
							padding: 5px;}
						#cue-pass{
							margin: .5rem auto !important;
						}
				/* grupos */
				#grupo-add{
					margin: 15px auto !important;display: block;
					padding: 5px;}
					#grupo-container{
						display: flex;justify-content: space-evenly;flex-wrap: wrap;}
						.grupo {
							margin: 10px 0;
							text-align: center;
							padding: 20px;box-sizing: border-box;
							border: solid;border-radius: 10px;
							cursor: pointer;
							font-weight: bold;font-size: larger;
							background:#EEE;
						}
							.grupo:hover{
								background:lightgray;
							}
					
	#grupo-hasVends{
		position:fixed;top: 0;left: 0;
		display:none;
		height: 100%;width: 100%;
		background:rgba(0,0,0,.5);
		z-index:1000;}
		#grupo-hasVends-body{
			margin: auto;
			background: white;
			border:solid;border-radius: 10px;
			max-width: 80%;
			text-align: center;
			display: grid;gap:15px;
			padding: 15px;}
			#grupo-hasVends-body-select{
				width: min-content;margin: auto;}
			#grupo-hasVends-body-buttons{
				display: flex;justify-content: space-evenly;}
				/* Artículos */
				#bulk-message {
					display: none;
					position: fixed;left: 0;top: 0;
					height: 100%;width: 100%;background: rgba(0,0,0,.5);
					z-index: 1;/* Funny story in fact, .destacado:before will show over it otherwise. */}
					#bulk-message > div {
						margin: auto;
						padding: 20px;border-radius: 20px;
						background: white;
						max-height: 90vh;overflow-y: auto;
						max-width: 90vw;box-sizing: border-box;}
						#bulk-message > div * {
							margin: auto;}
							#bulk-form{
								display: grid;gap: 15px;}
								#bulk-message td {
									padding: 5px;}
								#bulk-image-table + #bulk-form {
									display: none;}
									#bulk-format-holder{
										overflow-x: auto;width: 100%;}
										#bulk-format tr:first-child
										,#bulk-format td:first-child{
											background: #EEE;
											text-align: center;}
										#bulk-format tr:nth-child(2)
										,#bulk-format td:nth-child(2){
											height: 10px;width: 10px;}
									#bulk-area {
										width: 70%;}
										.bulk-tiny-input{
											margin: 5px !important;}
									#bulk-form label {
										display: grid;grid-template: "a b" /min-content;}
							#bulk-image-table td:first-child{
								min-width: 70px;font-size: small;}
								.bulk-image{
									max-height: 120px;max-width: 200px;
									display: block;}
								.bulk-image-input{
									display: grid;grid-template: "a b";
									overflow: hidden;}
									@keyframes spin {
										from {transform:rotate(0deg);}
										to {transform:rotate(360deg);}}
										.emoji-loader{
											animation: spin 1s infinite linear;}
											.emoji-loader span:before{
												content:'⚙️'}
										/* .bulk-image-done{
											} */
											.bulk-image-done span:before{
												content:'✔️'}
										/* .bulk-image-fail{
											} */
											.bulk-image-fail span:before{
												content:'❌'}
#articulos,#art-inicio{
	/* Esto está para que el que haga overflow sea #art-grid. */
	overflow: hidden;display: grid; /* #art.inicio solo usa estas 2 */
	height: 100%;grid-template-rows: auto 1fr;
}
	#busqueda {
		padding: 5px 15px 15px 15px;
		display: grid;gap: 10px;}
		#busqueda-input{
			width: 100%;box-sizing: border-box;
			padding: 10px;}
		#busqueda > label{
			height: min-content;
			margin: auto;}
	#art-inicio{
		text-align: center;}
		#art-context{
			position: absolute;top: 0;left:0;height: 100%;width: 100%;
			display: none;}
			#art-context > div{
				position: absolute;
				padding: .5rem 0;border-radius: .5rem;background: #FFF;
				box-shadow: 0.3rem 0.3rem 1rem -0.5rem;
			}
				#art-context button{
					display: block;padding: 1rem;border: none;width:100%;
					cursor: pointer;
					background: #FFF;
					text-align: left;}
					#art-context button:hover{
						background: var(--over-gray);}
					#art-context i {
						color:#8c8c8c;
						margin-right: 1rem;
						font-size: larger;
						width: 2rem;text-align:center;}
		#art-bar{
			display: flex;justify-content: space-evenly;
			flex-wrap: wrap;
			margin-bottom: 15px;}
			#art-bar button{
				border-color: #dbdbdb;
				background: var(--almost-white);}
				#art-bar button:hover{
					background: var(--over-gray);}
			#art-bar > *{
				padding: 5px;
				width: 140px;
				margin: auto 0;}
				#art-export-panel{
					display: none;justify-content: space-evenly;gap:5px;}
					#art-export-panel-toggle{
						grid-area:c;}
		#art-grid{
			overflow: auto;
			box-sizing: border-box;}
			.art-exporting{
				user-select: none;}
			.hidden{
				display: none !important;}
				.aviso-art-vacio{
					width:80%;
					margin:auto;}
				.articulo{
					display: inline-grid;grid-template: "a b c" "d d d" /1.5rem 1fr 2rem;gap: 0.5rem;
					width: 100%;
					text-align: left;
					padding: 1rem;box-sizing: border-box;
					cursor: default;}
					.articulo:hover{
						background-color: var(--over-gray);
					}
					.escondido-hidden{
						display: none;}
					
					.art-symbol{
						font-family: "Font Awesome 5 Free";font-size: 1.2rem;
						text-align: center;}
						.art-symbol::before {
							content: '\f00c';font-weight: bold;
							color:cadetblue;}
						.destacado > .art-symbol::before {
							content: '\f005';font-weight: bold;
							color: orange;
						}
						.escondido > .art-symbol::before {
							content: '\f070' !important;
							font-weight: bold;
							color: silver !important;
						}
					.art-nombre{
						margin:auto 0;}
					.articulo > .fa-ellipsis-h {
						font-size: larger;margin:auto 0;
						cursor: pointer;}
						.art-exporting .fa-ellipsis-h {
							cursor: default !important;}
					.articulo > span:last-child {
						grid-area: d;}
						
						
					.art-precio {
						color: cadetblue;
						}
						.art-precio::before {
							content: '$\00a0';}
						
					.art-exporting .articulo:active{
						background:#BBB;}
					.art-exporting .art-exporting-selected{
						background:#DDD;}
						.art-exporting .art-exporting-selected:hover{
							background: #D8D8D8
							}
						
	#art-añadir{
		padding: 0 1.5rem;box-sizing: border-box;
		overflow: auto;}
		#art-añadir > fieldset{
			border: none;margin: 0;padding: 0;
		}
			#art-añadir .cute-button,#perfil .cute-button{
				margin: auto;
				border-color: #dbdbdb;background: var(--almost-white);
				display: block;}
				#art-añadir .cute-button:hover,#perfil .cute-button:hover{
					background: var(--over-gray);}
			.cool-input,#perfil-1-main input,#perfil-1-main textarea{
				padding: 5px 0;
				border: none;
				border-bottom: solid 1px #9E9E9E;
				transition: border-width 0.2s linear;
				background: var(--almost-white);}
				.cool-input:focus,#perfil-1-main input:not([type="color"]):focus,#perfil-1-main > textarea:focus{
					border-bottom: solid 4px #369683 !important;}
				#art-añadir > fieldset > .cool-input,#perfil-1-main > input,#perfil-1-main > textarea{
					width:100%;}
			#art-precio-holder{
				display: grid;grid-template: "a b" /auto 1fr;}
				#art-precio-holder > span{
					margin: auto;}
				#art-precio-holder > input{
					text-align: right;}
																
@media screen and (min-aspect-ratio: 13/9) {
	body{
		width:80%;height: 100%;
		overflow-x: hidden;
	}
		#anvorgesa > *{
			width: 300px;}
		#realPanel{
			overflow: auto;
		}
			#ven{
				width: 60%;
				height: 100%;grid-template: "a b" min-content "a c" min-content "a d" min-content "a e" 1fr /max-content;
				margin: auto;height: 100%;}
				#ven-list{
					grid-area: a;
					padding: 0 10px;}
					#ven-list-buttons{
						overflow-y: auto;}
				#ven-pedidos{
					overflow: auto;
					margin-right: 10px;}
					.ped{
						width: 95%;}
			#cue{
				width: max-content;margin: auto;
			}
			/*eliminar*/
			.categoria{
				width: 30%;}
			/*----*/
			.grupo{
				width: 30%;}
			#rec > div{
				width: 60%;
				margin: auto;
			}
}
@media screen and (max-aspect-ratio: 13/9) {
	body{
		min-height: 100%;}
		/* #header{
			padding:10px;
			grid-template:"a" max-content "b";} */
		#anvorgesa > *{
			width: 90vw;}
			#ven{
				padding: 0 6px;}
				#ven-list-buttons {
					max-height: 30vh;}
			#rec > div, .ped-arts {
				font-size: .8em;}
				#rec > div {
					grid-template: "a b c" "d e c" /1fr 1fr 6fr !important;}
			.categoria{
				width: 90%;}
}